html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
}

header {
    width: 100%;
    height: 80px;
    background: #C9E8A6;
}

.header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    padding: 8px 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #a8a8a8;
}

.textWrap {
    height: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textWrap section {
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    border-bottom: #a8a8a8 2px solid;
    padding: 7px 60px 7px 10px;
    background-image: url(../img/arrow.png);
    background-position: right;
}









footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #C9E8A6;
    position: relative;
}

#searchBtn {
    background: #fff;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    border: #C9E8A6 solid 10px;
    transform: translateY(-30px);
}

#searchBtn img {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}